*.kate-swp
*.log
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.pnp.*
.venv/
/.bash_profile
/.bashrc
/.claude/commands
/.claude/settings.json
/.claude/settings.local.json
/.gitconfig
/.gitmodules
/.idea
/.mcp.json
/.profile
/.ripgreprc
/.wiswa-ci/
/.yarn/install-state.gz
/.zprofile
/.zshrc
/build/
/dist/
/docs/_build/
/man/_static/
/mypy-report*/
__pycache__/
cobertura.xml
coverage.xml
htmlcov/
mypy-report.xml
node_modules/
