*.1
*.j2
*.jsonnet
*.kate-swp
*.libsonnet
*.lock
*.log
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.eslintignore
.pnp.*
.shellcheckrc
.venv/
/.bash_profile
/.bashrc
/.claude/commands
/.gitconfig
/.gitmodules
/.idea
/.mcp.json
/.profile
/.ripgreprc
/.wiswa-ci/
/.yarn/**/*.cjs
/.yarn/install-state.gz
/.zprofile
/.zshrc
/build/
/dist/
/docs/_build/
/man/_static/
/mypy-report*/
__pycache__/
cobertura.xml
coverage.xml
htmlcov/
mypy-report.xml
node_modules/
pylock*.toml
