# http://pylint.pycqa.org/en/latest/technical_reference/features.html

[MASTER]
extension-pkg-whitelist=mypy.api
ignore=CVS
jobs=0
limit-inference-results=100
load-plugins=pylint.extensions.broad_try_clause,
             pylint.extensions.emptystring,
             pylint.extensions.comparetozero,
             # pylint.extensions.mccabe,
             pylint.extensions.docstyle,
             pylint.extensions.check_elif,
             pylint.extensions.redefined_variable_type,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.docparams
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
confidence=
disable=all
# redefined-builtin,
# For later CI:
# * empty-docstring
# * unused-wildcard-import
# * redefined-variable-type
# * too-complex (requires load-plugins=pylint.extensions.mccabe)
# All 'typecheck', 'multiple_types', 'iterable_check' options are caught by
# Mypy so they are not enabled.
# Formatting is handled by Yapf so 'format' is not enabled.
enable=c-extension-no-member,
       not-in-loop,
       function-redefined,
       continue-in-finally,
       abstract-class-instantiated,
       star-needs-assignment-target,
       duplicate-argument-name,
       return-in-init,
       too-many-star-expressions,
       nonlocal-and-global,
       return-outside-function,
       return-arg-in-generator
       invalid-star-assignment-target,
       bad-reversed-sequence,
       nonexistant-operator,
       yield-outside-function,
       init-is-generator,
       nonlocal-without-binding,
       lost-exception,
       assert-on-tuple,
       dangerous-default-value,
       duplicate-key,
       useless-else-on-loop,
       expression-not-assigned,
       confusing-with-statement,
       unnecessary-lambda,
       pointless-statement,
       pointless-string-statement,
       unnecessary-pass,
       eval-used,
       exec-used,
       using-constant-test,
       blacklisted-name,
       misplaced-comparison-constant,
       singleton-comparison,
       unneeded-not,
       consider-iterating-dictionary,
       consider-using-enumerate,
       invalid-name,
       unidiomatic-typecheck,
       not-async-context-manager,
       bad-except-order,
       catching-non-exception,
       bad-exception-context,
       notimplemented-raised,
       raising-bad-type,
       raising-non-exception,
       misplaced-bare-raise,
       duplicate-except,
       broad-except,
       nonstandard-exception,
       binary-except,
       bare-except,
       fixme,
       bad-open-mode,
       redundant-unittest-assert,
       boolean-datetime,
       deprecated-method,
       cyclic-import,
       deprecated-module,
       import-self,
       misplaced-future,
       multiple-imports,
       relative-import,
       wildcard-import,
       wrong-import-order,
       wrong-import-position,
       design,
       string,
       logging,
       metrics,
       string_constant,
       similarities,
       newstyle,
       abstract-method,
       access-member-before-definition,
       assigning-non-slot,
       attribute-defined-outside-init,
       bad-classmethod-argument,
       bad-mcs-classmethod-argument,
       bad-mcs-method-argument,
       bad-staticmethod-argument,
       duplicate-bases,
       inconsistent-mro,
       inherit-non-class,
       invalid-length-returned,
       invalid-slots,
       invalid-slots-object,
       method-check-failed,
       method-hidden,
       no-classmethod-decorator,
       no-init,
       no-method-argument,
       no-self-argument,
       no-self-use,
       no-staticmethod-decorator,
       non-iterator-returned,
       non-parent-init-called,
       protected-access,
       signature-differs,
       super-init-not-called,
       unexpected-special-method-signature,
       invalid-all-object,
       unbalanced-tuple-unpacking,
       undefined-all-variable,
       used-before-assignment,
       cell-var-from-loop,
       global-variable-undefined,
       redefine-in-handler,
       redefined-outer-name,
       unused-argument,
       unused-variable,
       global-variable-not-assigned,
       undefined-loop-variable,
       global-statement,
       global-at-module-level,
       compare-to-empty-string,
       bad-docstring-quotes,
       else-if-used,
       overlapping-except,
       differing-param-doc,
       differing-type-doc,
       multiple-constructor-doc,
       missing-param-doc,
       missing-type-doc,
       missing-raises-doc,
       missing-return-doc,
       missing-return-type-doc,
       missing-yield-doc,
       missing-yield-type-doc,
       redundant-returns-doc,
       redundant-yields-doc

[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
output-format=text
reports=no
score=yes

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
# attr-rgx=
bad-names=
class-attribute-naming-style=any
# class-attribute-rgx=
class-naming-style=PascalCase
# group 1: Typed for TypedForecastSession, etc
# group 2: Constants in all uppercase separated by _
# group 3: Allow variables that start and end with __
# group 4: Allow variables that start with uppercase and end with Dict, for
# TypedDict types
# group 5: add_to_[a-z]()
# group 6: *_router constants
# group 7: *Fixture constants
const-rgx=((Typed[A-Z].*)|([A-Z_][A-Z0-9_]*)|(__.*__)|([A-Z][A-Za-z].*Dict)|(^add_to_[a-z])|([a-z_]+_router)|([A-Z][a-zA-Z]+Fixture))$
docstring-min-length=-1
function-naming-style=snake_case
good-names=_,
           ci,
           d,  # dict
           db,
           default_app_config,
           df,
           e,
           f,
           fs,
           i,
           it,
           j,
           k,
           l,
           n,
           r,  # Request
           router,
           s,
           x,
           y,
           z,
           logger,
           id,
           rf,  # RequestFactory
           m,   # re.match
           cy,pf,py,
           pk,
           fd,fp,fn,
           fy,
           T,U,V,F,
           K,V,
           a,b,
           fp,
           un,
           pw,
           tl,
           gd,
           yt,
           v
include-naming-hint=yes
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
name-group=
no-docstring-rgx=((^_)|(Dict))$
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[LOGGING]
logging-format-style=old
logging-modules=logging

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[SPELLING]
max-spelling-suggestions=4
spelling-dict=
spelling-ignore-words=
spelling-private-dict-file=
spelling-store-unknown-words=no

[STRING]
check-str-concat-over-line-jumps=no

[VARIABLES]
additional-builtins=
allow-global-unused-variables=yes
callbacks=cb_,
          _cb
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io

[CLASSES]
defining-attr-methods=__init__,
                      __new__,
                      setUp,
                      __post_init__
exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[DESIGN]
max-args=10
max-attributes=20
max-bool-expr=5
max-branches=20
max-locals=50
max-parents=15
max-public-methods=30
max-returns=6
max-statements=50
min-public-methods=1

[IMPORTS]
allow-any-import-level=
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix
ext-import-graph=
import-graph=
int-import-graph=
known-standard-library=
known-third-party=enchant
preferred-modules=


[EXCEPTIONS]
overgeneral-exceptions=BaseException,
                       Exception

[DOCUMENTATION]
default-docstring-type=numpy
