{
  "[json]": {
    "editor.tabSize": 2
  },
  "[jsonc]": {
    "editor.tabSize": 2
  },
  "[yaml]": {
    "editor.tabSize": 2
  },
  "cSpell.ignoreWords": [
    "abstractproperty",
    "asdict",
    "asyncio",
    "audvare",
    "br",
    "br'authority",
    "br'mac",
    "builtins",
    "check",
    "classmethod",
    "comparetozero",
    "concat",
    "ctoken",
    "datetime",
    "dl's",
    "docparams",
    "docstring",
    "docstrings",
    "docstyle",
    "elif",
    "emptystring",
    "eval",
    "glif",
    "in",
    "initialising",
    "inlinevar",
    "itct",
    "khtml",
    "mccabe",
    "metaclass",
    "mypy",
    "nargs",
    "netrc",
    "newstyle",
    "nonexistant",
    "nonlocal",
    "notimplemented",
    "noval",
    "numpy",
    "optparse",
    "overgeneral",
    "pylint",
    "referer",
    "remove",
    "sess",
    "sign",
    "staticmethod",
    "tkinter",
    "typecheck",
    "udvare",
    "web",
    "xsrf",
    "yapf",
    "ytcfg",
    "ytch"
  ],
  "editor.detectIndentation": false,
  "editor.formatOnSave": true,
  "editor.tabSize": 4,
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "python.formatting.provider": "yapf",
  "python.linting.pylintEnabled": true,
  "python.pythonPath": "/home/tatsh/.virtualenvs/youtube-unofficial/bin/python"
}
